*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background: #fff;
}
a,
ul,
ol {
  text-decoration: none;
  font-style: normal;
}
ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
input,
textarea,
button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
}
button:focus,
input:focus {
  outline: none;
  box-shadow: none;
}
input {
  font-family: inherit;
  border: none;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
